<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Wrench.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Wrench.Properties.Settings>
            <setting name="AdapterKU1" serializeAs="String">
                <value>USBCOM10A</value>
            </setting>
            <setting name="AdapterKU2" serializeAs="String">
                <value>USBCOM10A</value>
            </setting>
            <setting name="AdapterKU3" serializeAs="String">
                <value>USBCOM10A</value>
            </setting>
            <setting name="AdapterKU4" serializeAs="String">
                <value>USBCOM10A</value>
            </setting>
            <setting name="AdapterKU5" serializeAs="String">
                <value>USBCOM10A</value>
            </setting>
            <setting name="AdapterKU6" serializeAs="String">
                <value>USBCOM10A</value>
            </setting>
            <setting name="SerialKU1" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="SerialKU2" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="SerialKU3" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="SerialKU4" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="SerialKU5" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="SerialKU6" serializeAs="String">
                <value>COM1</value>
            </setting>
        </Wrench.Properties.Settings>
    </userSettings>
</configuration>